<html lang="en">
    <head>

        <title>Document</title>
    
    </head>
    
    <body>

        <!-- <input type="text" > -->

        <button>Add</button>
    <h1></h1><br>
    <img>
    <ul>
        <li id="1"></li>
        <li id="2"></li>
        <li id="3"></li>
        <li id="4"></li>
        <li id="5"></li>
    </ul>
    <description></description>
    <script type="text/javascript">
    var button = document.querySelector("button")
    var img = document.querySelector("img")

    var l1 = document.getElementById("1")
    var l2 = document.getElementById("2")
    var l3 = document.getElementById("3")
    var l4 = document.getElementById("4")
    var l5 = document.getElementById("5")
    var xhr = new XMLHttpRequest();

   xhr.addEventListener('load', function() {
        var d = xhr.responseText
        var parsed = JSON.parse(d)
        var randomUser = parsed
        console.log(randomUser);        
        l1.innerText = randomUser.name
        l2.innerText = randomUser.email
        l3.innerText = randomUser.dob
        l4.innerText = randomUser.phone
        l5.innerText = randomUser.SSN
        img.src = randomUser.imgLink
    }) 

    button.addEventListener("click", function() {
	    // var text = input.value
	    // var urled = encodeURI(text);

	    var url = "/info" 
	    xhr.open("GET", url);
	    xhr.send();

        var d 
    })
    </script>


</body>
</html>


